

.zero-border{
    border-radius: 0px !important;
}

/* .active{
    border-bottom: 1px solid white;
    margin: 0 5px;
    
}
    
.nav-a{
    margin: 0 5px;
    color: white !important;
    
}

.nav-a:hover{
    text-decoration: none !important;
    border-bottom: 1px solid white;
    transition: all ease-in-out 1s;
} */

